<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871527201377-68u1enm25t07a2udg1ggm225kqi604tk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871527201377-68u1enm25t07a2udg1ggm225kqi604tk</string>
	<key>API_KEY</key>
	<string>AIzaSyCodpf-pIYuUFIDiUewkrrD1EGeh82jE2w</string>
	<key>GCM_SENDER_ID</key>
	<string>871527201377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Qalab.Courses.kn</string>
	<key>PROJECT_ID</key>
	<string>collectiondata-4a346</string>
	<key>STORAGE_BUCKET</key>
	<string>collectiondata-4a346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871527201377:ios:1eafab36afbded57f34820</string>
</dict>
</plist>